/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.2rem;
}
p,
span,
li,
a {
  font-size: 1.5rem;
  line-height: 2rem;
}
h3.section-header,
h4.subheader {
  color: #2eb2ae;
  font-weight: bold;
}
h4.subheader {
  color: #b22e32;
}
h3.section-header {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
hr {
  color: #2eb2ae;
  padding: 0;
  margin: 0.2rem 0 0.75rem 0;
}
span.circle {
  background-color: #2eb2ae;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}
span.circle span.dot {
  background-color: #95e4e1;
  border-radius: 50%;
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  left: 0.4rem;
  top: 0.4rem;
}
span.circle span.empty {
  background-color: lightgray;
}
div.container {
  width: 90rem;
  margin: 0 auto;
  background-color: #FCFCFC;
}
@media (max-width: 900px) {
  div.container {
    width: 700px;
  }
}
div.container header.header nav.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}
div.container header.header nav.nav a {
  text-decoration: none;
  padding: 2rem;
  color: black;
}
div.container section.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
div.container section.profile-info div.image img {
  width: 25rem;
  height: 25rem;
  clip-path: circle(10rem at center);
}
div.container section.profile-info div.info {
  background-color: #2eb2ae;
  height: 25rem;
  color: white;
  margin-left: 1.5rem;
}
div.container section.profile-info div.info * {
  margin: 1rem;
}
div.container section.profile-info div.info h4 {
  margin-bottom: 2rem;
  text-decoration: underline;
  line-height: 2rem;
}
div.container section.profile-info div.info p {
  line-height: 3rem;
}
div.container section.contact-skills-work-experience {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
div.container section.contact-skills-work-experience section.contact-skills-languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 31rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.info,
div.container section.contact-skills-work-experience section.contact-skills-languages div.skills,
div.container section.contact-skills-work-experience section.contact-skills-languages div.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.info {
  padding: 2rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.info div {
  margin-bottom: 4rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.info div span {
  color: #b22e32;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.info div a {
  text-decoration: none;
  color: #b22e32;
  font-weight: 400;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.info div i.fa {
  margin-right: 1rem;
  color: #2eb2ae;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.skills {
  padding-bottom: 1rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.skills div {
  padding-bottom: 1.5rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.skills div p {
  color: black;
  font-weight: 400;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.skills div progress {
  width: 100%;
  height: 2rem;
  background-color: #2eb2ae;
  color: #9e292c;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25) inset;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.languages div {
  padding-bottom: 2rem;
}
div.container section.contact-skills-work-experience section.contact-skills-languages div.languages div p.language {
  font-size: 1.75rem;
  font-weight: 400;
  padding: 2rem 2rem 1rem 0;
}
div.container section.contact-skills-work-experience section.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 1.5rem;
}
div.container section.contact-skills-work-experience section.history *:not(div) {
  padding-left: 1rem;
}
div.container section.contact-skills-work-experience section.history span {
  color: #2eb2ae;
}
div.container section.contact-skills-work-experience section.history span.italic,
div.container section.contact-skills-work-experience section.history p.italic {
  font-style: italic;
}
div.container section.contact-skills-work-experience section.history h4 {
  margin: 1rem 0;
}
div.container section.contact-skills-work-experience section.history div.job {
  margin-bottom: 2rem;
}
div.container section.contact-skills-work-experience section.history div.job div.date-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 1rem;
}
div.container section.contact-skills-work-experience section.history div.job div.tasks span.italic {
  margin: 0.5rem;
}
div.container section.contact-skills-work-experience section.history div.job div.tasks ul.tasks-list li:before {
  content: '\2734';
  color: #2eb2ae;
  margin-right: 10px;
}
div.container section.contact-skills-work-experience section.history div.edu div.edu-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
div.container section.contact-skills-work-experience section.history div.edu div.edu-name span {
  align-self: flex-end;
}
div.container section.contact-skills-work-experience section.certificates h4 {
  color: #b22e32;
}
div.container section.contact-skills-work-experience section.licenses h4 {
  color: #b22e32;
}
