// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

// ---------------------------VARIABLES---------------------------------
@defaultTextSize: 1.5rem;
@topPadding: 25rem;
@leftPadding: @topPadding + 6rem;

// ----------------------------MIXINS----------------------------------
.flex(@direction: row, @mainAxis: center, @crossAxis: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @mainAxis;
  align-content: @crossAxis;
}

.responsive(@maxWidth, @rules) {
  @media (max-width: @maxWidth) {
    @rules();
  }
}

@base: #2eb2ae;
@complement1: spin(@base, 180);
@complement2: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);
@primaryColor: @base;
@secondaryColor: @complement1;
@tertiaryColor: @complement2;
@fourthColor: @lighten1;
@fifthColor: @lighten2;

// ------------------------GENERAL STYLES------------------------------
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.2rem;
}

p,
span,
li,
a {
  font-size: @defaultTextSize;
  line-height: 2rem;
}

h3.section-header,
h4.subheader {
  color: @primaryColor;
  font-weight: bold;
}

h4.subheader {
  color: @secondaryColor;
}

h3.section-header {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}

hr {
  color: @primaryColor;
  padding: 0;
  margin: 0.2rem 0 0.75rem 0;
}

span.circle {
  background-color: @primaryColor;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;

  span.dot {
    background-color: @fifthColor;
    border-radius: 50%;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    position: relative;
    left: 0.4rem;
    top: 0.4rem;
  }

  span.empty {
    background-color: lightgray;
  }
}

// ------------CUSTOM STYLES----------------

div.container {
  width: 90rem;
  margin: 0 auto;
  background-color: #fcfcfc;

  .responsive(900px, {
			width: 700px;
		}
	);

  .responsive(700px, {
		width: 500px;
	}
);

  .responsive(500px, {
	width: 300px;
}
);

  header.header {
    nav.nav {
      .flex(@direction: row, @mainAxis: flex-end);
    }

    nav.nav a {
      text-decoration: none;
      padding: 2rem;
      color: black;
    }
  }

  section.profile-info {
    .flex();

    .responsive(500px, {
			.flex(@direction: column);
		}
	);

    div.image {
      img {
        width: @topPadding;
        height: @topPadding;
        clip-path: circle(10rem at center);
      }
    }

    div.info {
      background-color: @primaryColor;
      height: @topPadding;
      color: white;
      margin-left: 1.5rem;

      .responsive(700px, {
				height: 40rem;
			}
		);

      * {
        margin: 1rem;
      }

      h4 {
        margin-bottom: 2rem;
        text-decoration: underline;
        line-height: 2rem;
      }

      p {
        line-height: 3rem;
        .responsive(900px, {
					line-height: 2rem;
				}
			);
        .responsive(700px, {
				line-height: 2rem;
			}
		);
      }
    }
  }

  section.contact-skills-work-experience {
    .flex(@mainAxis: flex-start);

    .responsive(500px, {
			.flex(@direction: column);
		});

    section.contact-skills-languages {
      .flex(@direction: column);
      width: @leftPadding;

      div.info,
      div.skills,
      div.languages {
        .flex(@direction: column);
      }

      div.info {
        padding: 2rem 0;
        font-size: @defaultTextSize;
        line-height: 2rem;

        div {
          margin-bottom: 4rem;

          span {
            color: @secondaryColor;
          }

          a {
            text-decoration: none;
            color: @secondaryColor;
            font-weight: 400;
          }

          i.fa {
            margin-right: 1rem;
            color: @primaryColor;
          }
        }
      }

      div.skills {
        padding-bottom: 1rem;

        div {
          padding-bottom: 1.5rem;

          p {
            color: black;
            font-weight: 400;
            font-size: 1.75rem;
            padding-bottom: 0.5rem;
          }

          progress {
            width: 100%;
            height: 2rem;
            background-color: @primaryColor;
            color: @tertiaryColor;
            border-radius: 0.2rem;
            box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25) inset;
          }
        }
      }

      div.languages {
        div {
          padding-bottom: 2rem;

          p.language {
            font-size: 1.75rem;
            font-weight: 400;
            padding: 2rem 2rem 1rem 0;
          }
        }
      }
    }

    section.history {
      .flex(@direction: column);
      padding-left: 1.5rem;

      *:not(div) {
        padding-left: 1rem;
      }

      span {
        color: @primaryColor;
      }

      span.italic,
      p.italic {
        font-style: italic;
      }

      h4 {
        margin: 1rem 0;
      }

      div.job {
        margin-bottom: 2rem;

        div.date-location {
          .flex(@mainAxis: space-between);
          padding-bottom: 1rem;
        }

        div.tasks {
          span.italic {
            margin: 0.5rem;
          }

          ul.tasks-list li:before {
            content: "\2734";
            color: @primaryColor;
            margin-right: 10px;
          }
        }
      }

      div.edu {
        div.edu-name {
          .flex(@mainAxis: space-between);

          span {
            align-self: flex-end;
          }
        }
      }
    }

    section.certificates {
      h4 {
        color: @secondaryColor;
      }
    }

    section.licenses {
      h4 {
        color: @secondaryColor;
      }
    }
  }
}
